@import url('https://fonts.googleapis.com/css2?family=Merriweather');

body {
  background-color: #f8f5e6;
}

.distill-site-nav {
  color: #F9F3DB;
  background-color: #7FD7BF;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a:hover {
  color: #49382E;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}
